#bigHeader {
font-size: 50px;
background-color: lightskyblue;
color: white;
padding: 25px;
width: 100%;
}

.search {
    font-weight: bold;
    font-size: large;

}

#searchArea{
    width:30%;
}

#mainArea{
    width:69%;
}

body{
    background-color: lightgray;
}
